.project{
    height: 100vh;
}

.proj-head{
    display: flex;
    justify-content: center;
}

.project h1{
    margin-top: 260px;
    margin-bottom: 60px;
    text-align: center;
    color: white;
    font-size: 40px;
}


.projectcards{
    display: flex;
    align-content: center;
    justify-content: center;
    padding-bottom: 50px;

}
.card1{
    background: url('../../assets/img/cardimgpng.png');
    background-position: top;
    background-repeat: no-repeat;
    color: white;
    background-color: #00040B;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    transition: transform 250ms;
}
.card1:hover{
    transform: translateY(-10px);
    
}
.card2{
    background: url('../../assets/img/cardimgpng.png');
    background-position: top;
    background-repeat: no-repeat;
    color: white;
    background-color: #00040B;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    margin-left: 30px;
    transition: transform 250ms;
    
}
.card2:hover{
    transform: translateY(-10px);
}

.content-text{
    color: rgb(176, 176, 176);


}



.img-box{
    background-color: #06071B;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons{
    margin-top: 20px;
    margin-bottom: 10px;
}

.buttons Button{
    color: white;
    margin-left: -5px;
}

.buttons Button:hover{
    color: rgb(111, 111, 255);
}

.btn1{
    margin-left: 500px;
}

.card-content{
    padding-top: 200px;
}

@media (max-width: 768px){

    .project{
        margin-top: -300px;
    }
    .project h1{
       
        font-size: 35px;
    }
    .projectcards{
        display: block;
        align-content: center;
        margin: auto;
    }

    .card1{
        margin-left: auto;
        margin-right: auto;
    }
    .card2{
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

}