*{
    padding: 0;
    margin: 0;
}
.main{
    background-color: black;
    padding: 25px;
    margin-bottom: 50px;
    margin-top: 30px;
}
.head{
    margin-right: 20%;
    margin-left: 20%;
    text-align: center; 
    color: white;
    padding-bottom: 20px;
}
.body{
    display: flex;
    justify-content: space-between;
    margin-left: 400px;
    margin-right: 400px;
    align-items: center;
    
}   


.icon{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    color: rgb(187, 105, 187);
    transition: transform 250ms;
}

.icon:hover{
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);

}

@media (max-width: 480px){

    .head{
        
    }

    .body{
        display: flex;
        justify-content: space-between;
        margin-left: 25px;
        margin-right: 25px;
        align-items: center;
        transition: transform 250ms;
    }  
    
    .icon{
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
        transition: transform 250ms;
    }
    

}