header{
  position: relative;
}

.nav_bar {
  margin-top: -110px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 450px;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-left: auto;
  margin-right: auto;
  background:#2f00538e;
  align-content: center;
  border-radius: 10px;
  background-image: linear-gradient(to right, rgba(174, 114, 149, 0.117) , rgba(115, 5, 98, 0.342));
  backdrop-filter: blur(8px);
}

.h-blg{
  background-color: 00040B;
}
.nav-list{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav-list2 a{
  
  font-size: 20px;
  list-style: none;
  margin: 0 20px;
  
}

.nav-list2{
}

.nav_bar2 {
  background-color: black;
  padding-top: 40px;
}
.arw-bck{
  
}
.btn-g{
  cursor: pointer;
  opacity: 0;
}

.nav_bar2 ul { 
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav_bar ul { 
   padding:0;
  margin:0;
  display:flex;
  flex-wrap:wrap;
}
.nav_bar li {
  color: white;
  list-style:none;
  margin: 15px;
  margin-left: 35px;
margin-right: 35px;
}

li a{
  color: aliceblue;
  text-decoration: none;

}
li a:hover{
  color: #96b4ff;
}




  @media only screen and (max-width: 768px){

    .nav_bar{
      background-color: transparent;
      background-image: none;
      border-radius: 0;
      width: 100%;
      margin-top: -700px;
    }
  }