.footer{
    color: #fff;
    background-color: black;
    text-align: center;
    padding-bottom: 10px;
    font-size: 12px;
}

.socio-icons{
    display: flex;
    justify-content: space-around;
    margin-left: 44.5%;
    padding-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    width: 200px;
}

.footer span{
    background-image: -webkit-linear-gradient(10deg, #4771E3, #7346BD, #3D7FEB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer a{
    text-decoration: none;
    color: white;
}
.footer p{
    font-family: Poppins, sans-serif;
    font-weight: 600;
   display: flex;
   justify-content: center;
}

.footer a:hover{
    color: #3D7FEB;

}
.dot{
    margin-top: 4px;
    position: relative;
}
span{
    margin-left: 5px;
}
@media (max-width: 786px){

    .socio-icons{
        display: flex;
        justify-content: space-around;
        margin-left: 150px;
        margin-right: 150px;
    }
    .footer{
        margin-top: 450px;
    }
}