.container-cmpnt{
  background: url('../../assets/img/abt-bgimg.svg');
  background-size: cover; /* Adjust the sizing as needed */
  background-position: center;
  height: 100vh;
  display: flex;
  opacity: 0;
  height: 100vh;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  scroll-snap-align: start;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.column-left{
  float: right;
  flex: 50%;
  width: 50%;
  display: flex; /* Centers horizontally */
  align-items: center;
}
.column-right{
  float: right;
  flex: 50%;
  height: 100vh;
  width: 50%;
  display: flex; /* Centers horizontally */
  align-items: center;
}

.abt-txt{
  margin-left: 35%;
  margin-right: 45px;
}

.abt-para{
  width: 300px;
  color: white;
  font-size: 18px;
}

.abt-para p{
}

.abt-img{
  transition: transform .5s;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  border: 5px solid #7346BD;
  margin-left: 45px;
}

.round-img{
  transition: transform .5s;
  background-image: url("../../assets/img/fr-web.jpg");
  background-color: #010136;
  background-size: cover; /* Adjust the sizing as needed */
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.round-img:hover,
.round-img:focus{
  transform: scale(1.1);
}


@media (max-width: 768px){
  .container-cmpnt{
    background-color: rgba(0, 0, 0, 1);
    display: block;
  }

  .column-left{
    float: left;
    flex: 50%;
    width: 50%;
    display: flex; /* Centers horizontally */
    align-items: center;
  }
  .column-right{
  margin-left: -388px;
  margin-top: 190px;
    display: block; /* Centers horizontally */
    align-items: center;
  }
  .abt-img{
    border: none;
  }
  .round-img{
    height: 120px;
  width: 120px;
  border: 2px solid #7346BD;
  }
}